/* Fonts */

@font-face {
    font-family: "Lato-regular";
    src: url('../fonts/lato/Lato-Regular.ttf');
}

@font-face {
    font-family: "Lato-bold";
    src: url('../fonts/lato/Lato-Bold.ttf');
}

@font-face {
    font-family: "Impact";
    src: url('../fonts/impact/impact.ttf');
}

@font-face {
    font-family: "Maven-regular";
    src: url('../fonts/Maven_Pro/MavenPro-Regular.ttf');
}

/* Base */

* {
    box-sizing: border-box;
}

html {
    font-family: 'lato-regular', sans-serif;
    color: #626262;
    /* line-height: 1.83rem;
    line-height: 1.83em; */
}

body {
    font-size: 1rem;
    margin: 0;
}

ul, li {
    padding: 0;
    margin: 0;
}

/* Header */

header {
    background-color: #323232;
    height: 4.75rem;
}

header a {
    color: #ffffff;
    text-decoration-line: none;
    text-transform: uppercase;
    transition: .3s;
}

header a:hover {
    color: #2eb398;
    text-decoration-line: underline;
}

/* Logo */

.logo {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 1.2rem;
    text-align: center;
    width: 4.375rem;
    height: 4.375rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/Logo.png');
    z-index: 1;
}

.hexagon {
    position: absolute;
    top: -17px;
    width: 300px;
    height: 173.21px;
    background-color: #323232;
    margin: 86.60px 0;
}

.hexagon:before, .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 86.60px solid #323232;
}

.hexagon {
    position: absolute;
    width: 100px;
    height: 57.74px;
    background-color: #323232;
    margin: 28.87px 0;
}

.hexagon:before, .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 28.87px solid #323232;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #323232;
}

/* Gallery */

.gallery {
    padding-top: 4.8125rem;
    padding-bottom: 4.8125rem;
}

.gallery img {
    max-width: 6.125rem;
    height: 6.125rem;
    object-fit: cover;
    margin: 0.3125rem;
    border-radius: 15px;
}

/* editor */

.editor {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    background-color: #323232;
}

.editor-controls {
    background-color: #323232;
}

.dialog-buttons {
    padding: 1.25rem;
}

.canvas-container {
    width: 45rem;
    ;
}

.editor-menu {
    flex-grow: 0;
    width: 23.4375rem;
    justify-content: space-between;
    background-color: #323232;
    padding: 1.25rem;
}

.edit-box {
    flex-grow: 0;
    width: 100%;
}

.editor-btn {
    background-color: #323232;
    color: white;
    padding: 0.625rem;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
    transition: .3s;
    flex-grow: 1;
    margin: 0.125rem;
}

.editor-btn:hover {
    background-color: #2eb398;
    color: black;
}

.editor-btn>i {
    margin: 0;
    padding: 0;
}

.color-picker {
    background-color: #323232;
    color: white;
    flex-grow: 1;
    padding: 0.625rem;
}

.font-picker {
    background-color: #323232;
    color: white;
    flex-grow: 1;
    padding: 0.625rem;
}

.line-text-input {
    background-color: #323232;
    color: white;
    width: 100%;
    display: flex;
    flex-grow: grow;
    justify-content: space-between;
    flex-grow: 1;
}

.line-text-input>input[type=text] {
    border-radius: 0.3125rem;
    padding-left: 0.3125rem;
}

.line-text-input>input[type="text"] {
    width: 100%;
}

.font-picker>select {
    background-color: rgba(0, 0, 0, 0.0);
    color: #2eb398;
    border: none;
}

.jscolor {
    margin-left: 0.75rem;
    border-radius: 4px;
    height: 1.875rem;
}

.download-btn {
    border: 1px solid white;
}

/* About */

.about {
    background-color: #2eb398;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 4.25rem;
    padding-bottom: 4.25rem;
}

.about-title {
    font-family: 'Maven-regular', sans-serif;
    text-transform: capitalize;
    font-size: 1.875rem;
    line-height: 0.17;
    color: #fff;
}

.about-description {
    color: #20816d;
    font-family: 'Maven-regular', sans-serif;
}

.about-paragraph {
    color: #fff;
    font-family: 'Lato-regular', sans-serif;
    line-height: 1.83;
    font-size: 1rem;
}

.about-img {
    padding-left: 1.1875rem;
    padding-right: 1.1875rem;
}

.about-img img {
    border-radius: 100%;
    width: 11.25rem;
    height: 11.25rem;
    object-fit: cover;
}

/* Search */

.search {
    padding: 3.125rem 0 0;
}

.words-cloud .keyword {
    cursor: pointer;
    line-height: 1em;
    text-transform: uppercase;
}

/* Social */

.social-bar a {
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
    color: #2eb398;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    text-decoration: none;
}

.social-bar .facebook:hover {
    background-color: #3b5998;
    color: #fff;
}

.social-bar .instagram:hover {
    background-color: #ea4c89;
    color: #fff;
}

.social-bar .linkedin:hover {
    background-color: #0e76a8;
    color: #fff;
}

/* Footer */

footer {
    background-color: #323232;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Layout */


/* Helpers */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-left {
    justify-content: left;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.row-reverse {
    flex-direction: row-reverse;
}

.justify-right {
    justify-content: right;
}

.align-center {
    align-items: center;
}

.direction-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.clean-list {
    list-style: none;
}

.full-width {
    width: 80%;
}

.display-none {
    display: none;
}

.disabled {
    visibility: hidden;
}

.display-none {
    display: none;
}

/* Responsive */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 768px) {
    body {
        background-color: red;
    }
    .gallery img {
        max-width: 9.125rem;
        height: 9.125rem;
    }
    .container {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .about {
        flex-wrap: wrap;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 768px) {
    body {
        background-color: blue;
    }
    .gallery img {
        max-width: 15.125rem;
        height: 15.125rem;
    }
    .container {
        padding-left: 7.25rem;
        padding-right: 7.25rem;
    }
    .about {
        flex-wrap: wrap;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1000px) {
    body {
        background-color: white;
    }
    .gallery img {
        max-width: 10.125rem;
        height: 10.125rem;
    }
    .container {
        padding-left: 7.25rem;
        padding-right: 7.25rem;
    }
    .about{
        flex-wrap: nowrap;
    }
}