/* Fonts */

@font-face {
    font-family: "Lato-regular";
    src: url('../fonts/lato/Lato-Regular.ttf');
}

@font-face {
    font-family: "Lato-bold";
    src: url('../fonts/lato/Lato-Bold.ttf');
}

@font-face {
    font-family: "Impact";
    src: url('../fonts/impact/impact.ttf');
}


/* Base */

* {
    box-sizing: border-box;
}

html {
    font-family: 'lato-regular', sans-serif;
    color: #626262;
    /* line-height: 1.83rem;
    line-height: 1.83em; */
}

body {
    font-size: 1rem;
    margin: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
}


/* Header */

header {
    background-color: #323232;
    height: 4.75rem;
}

header a {
    color: #ffffff;
    text-decoration-line: none;
    text-transform: uppercase;
    transition: .3s;
}

header a:hover {
    color: #2eb398;
    text-decoration-line: underline;
}


/* Logo */

.logo {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 1.2rem;
    text-align: center;
    width: 70px;
    height: 70px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/Logo.png');
    z-index: 1;
}

.hexagon {
    position: absolute;
    top: -17px;
    width: 300px;
    height: 173.21px;
    background-color: #323232;
    margin: 86.60px 0;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 86.60px solid #323232;
}

.hexagon {
    position: absolute;
    width: 100px;
    height: 57.74px;
    background-color: #323232;
    margin: 28.87px 0;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 28.87px solid #323232;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #323232;
}


/* Gallery */

.gallery {
    padding-top: 4.8125rem;
    padding-bottom: 4.8125rem;
}

.gallery img {
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 5px;
    border-radius: 15px;
}


/* editor */

.editor {
    border: 1px solid black;
    padding: 100px;
}

.controls {
    color: white;
    background-color: #323232;
    max-width: 290px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px
}

.line-input {
    width: 210px;
    color: black;
    border: none;
    height: 30px;
    padding: 8px;
}

.editor-ui {
    color: white;
    background-color: #323232;
    border: none;
    width: 30px;
    height: 30px;
}

.editor-ui:hover {
    color: #2eb398;
}

.font-picker-container {
    background-color: #323232;
    padding: 5px;
}

#fontColor {
    width: 100px;
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    border: none;
    height: 30px;
}

#fontFace {
    width: 100px;
    background-color: rgba(0, 0, 0, 0.0);
    color: #2eb398;
    border: none;
    height: 30px;
}

.color-picker-container {
    background-color: #323232;
    padding: 5px;
}

.jscolor {
    width: 100px;
    height: 30px;
}

.canvas-container {
    border: 2px solid #2eb398;
}


/* Layout */

.container {
    padding-left: 6.25px;
    padding-right: 6.25px;
}


/* Helpers */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-left {
    justify-content: left;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.row-reverse {
    flex-direction: row-reverse;
}

.align-center {
    align-items: center;
}

.direction-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.clean-list {
    list-style: none;
}

.full-width {
    width: 80%;
}

.display-none {
    display: none;
}

.disabled {
    visibility: hidden;
}
.display-none{
    display: none;
}